* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HEADER */
header {
    background-color: #ADD8E6;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
/* CONTAINER HEADER */
.container-header{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #DAA520;
    /* height: 30px; */
}
/* RIGA HEADER */
.row {
    width: 100%;
    display: flex;
}
/* COLONNA HEADER */
.col-25 {
    width: calc(25%);
    border: 2px dashed black;
}

.col-50 {
    width: calc(50%);
    border: 2px dashed black;
}

.content-left {
    text-align: left;
    padding: 5px;
}

.content-center {
    text-align: center;
    padding: 5px;
}

.content-end {
    text-align: end;
    padding: 5px;
}
/* END COLONNA HEADER */

/* CONTAINER   1 */
.container-main-1 {
    width: 100%;
    margin: 0 auto;
    background-color: #0F008B;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* RIGA 1 */
.row-1 {
    width: 100%;
    height: 400px;
    display: flex;
    padding: 0 500px;
}
/* COLONNA 1 */
.col-100 {
    width:100%;
    background-color: #EE83EE;
    border: 3px dashed black;
}

/* CONTAINER 2 */

.container-main-2 {
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* RIGA 2 */
.row-2 {
    width: 100%;
    height: 500px;
    display: flex;
    padding: 0 380px;
}

/* COLONNE */
.col-60 {
    width:60%;
    background-color: #1D90FF;
    border: 2px dashed black;
}

.col-40 {
    width: 40%;
    background-color: #FFC0CB;
    border: 2px dashed black;
}
/* END COLONNE */

/* CONTAINER 3 */
.container-main-3 {
    width: 100%;
    margin: 0 auto;
    background-color: #D3D3D3;
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* RIGA 3 */
.row-3 {
    width: 100%;
    height: 500px;
    display: flex;
    padding: 0 380px;
}


